<div class="d-flex flex-column flex-grow-1 justify-content-start">
    <div class="d-flex col-12 col-md-11 mx-auto flex-column">

        <!-- Category section -->
        <div class="d-flex flex-grow-1 justify-content-between align-items-center bg-brand-clr px-2 py-1 py-md-2 rounded mb-3 mb-md-4">
            <div class="section-header text-size-xl f-bold">Women's tops</div>
            <!-- filter section -->
            <div class="filter">
                <select (change)="onChange($event)" class="custom-select-sm custom-select">
                    <option [ngValue]="null" hidden>Filter by size</option>
                    <option *ngFor="let option of productSizeOptions" [ngValue]="option.name">
                      {{ option.name }}
                    </option>
                </select>
            </div>
        </div>

        <!-- Display section -->
        <div class="d-flex flex-wrap justify-content-center justify-content-sm-start">
            <a *ngFor="let item of products" href="javascript:void(0)" class="d-flex border p-2 flex-column text-decoration-none flex-grow-1 col-9 col-sm-6 col-md-4 col-lg-3">
                <!-- product image -->
                <img src="../../assets/images/{{item.productImage}}" class="mw-100 d-flex mx-auto" />
                <!-- sale / exclusive section -->
                <div class="d-flex options-section">
                    <div [ngClass]="{'d-none': !(item.isSale)}" class="py-2 px-4 bg-sale mr-2">
                        <span class="color-white f-regular text-size-xsm">Sale</span>
                    </div>
                    <div [ngClass]="{'invisible': !(item.isExclusive)}" class="py-2 px-4 bg-exclusive mr-2">
                        <span class="color-white f-regular text-size-xsm">Exclusive</span>
                    </div>
                </div>
                <!-- product name and price section -->
                <div class="d-flex flex-wrap justify-content-between align-items-center mt-2 mt-lg-3">
                    <div class="f-semibold text-size-xsm color-black mr-2 w-60"> {{item.productName}} </div>
                    <div class="f-bold text-size-xl color-black"> {{item.price}} </div>
                </div>
            </a>
        </div>

    </div>
</div>