/**** Common ****/

$base-font-size: 16px;
$white:#ffffff;
$black:#000000;
$red: #dc3545;
$green: #28a745;
$brand--clr: #e8f0fe;
$path-to-fonts: "./assets/fonts/";
$path-to-images: "./assets/images/";

/**** Text color ****/

$text--clr: $black;
$text--clr-1: $white;

/**** Font Config ****/

$font-regular: opensans-regular;
$font-semibold: opensans-semibold;
$font-bold: opensans-bold;